@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ați venit în Feedback App</h1>
    <p>Lasă-ne un review pentru a împărtăși experiența ta.</p>
    <a class="btn btn-primary" href="/Reviews/Create">Lasă un Review</a>
</div>
